<!-- 
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>AREA 51</p>
  </div>
</div>
</body>
</html> -->

<footer class="blog-footer fixed-bottom p-4">
    <p>Built with Duff Beer <img alt="" src="/img/duff-beer-icon.png" /></p>
</footer>



</body>

</html>