
<%- include("partials/header"); -%>

<main class="container">

    <!-- <h1 class="my-3 fs">Write a comment to Springfield</h1> -->
    <form class="" action="/compose" method="post">
        <div class="form-floating my-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="Title" name="postTitle">
            <label for="floatingInput">Title</label>
          </div>
          <div class="form-floating my-3">
            <textarea class="form-control" placeholder="" id="floatingTextarea2" style="height: 12rem" name="postBody"></textarea>
            <label for="floatingTextarea2">Leave a comment here</label>
          </div>
          <div class="input-group my-3 w-50">
            <label class="input-group-text" for="inputGroupSelect01">By:</label>
            <select class="form-select" id="inputGroupSelect01" name="postAuthor">

              <% characters.forEach(function(character){ %>
                <option value="<%=character%>"><%=character%></option>
              <% }); %>

            </select>
          </div>
          
        <button type="submit" class="btn btn-outline-secondary my-3">Submit</button>

    </form>


</main>


<%- include("partials/footer"); -%>
